DB_HOST=
DB_PORT=5432
DB_NAME=marketing_ai
AWS_BEDROCK_REGION=
S3_INPUT_BUCKET_NAME=marketing-ai-documents
S3_OUTPUT_BUCKET_NAME=marketing-ai-outputs
DB_READONLY_SECRET_NAME=marketing-ai/db-readonly-password
DB_APP_SECRET_NAME=marketing-ai/db-app-password
